DATABASE_URL=

QDRANT_URL=
QDRANT_API_KEY=

GROQ_API_KEY=
GROQ_MODEL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET_KEY=

FRONTEND_URL=http://YOUR_SERVER_IP:3000

NEXT_PUBLIC_API_URL=http://YOUR_SERVER_IP:8000

# Email / SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=LMS
SMTP_USE_TLS=true
